* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: red;
  -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.width_container {
  max-width: 1200px;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  margin: 0 auto;
  padding-top: 1.5em;
}

.img_container {
  width: 50%;
  max-width: 480px;
}

img {
  width: 100%;
}

.introduction {
  font-size: 1.4rem;
  /* padding: 1em 0.5em; */
  max-width: 50%;
  border: 1px solid red;
  padding: 2em;
}
